@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,400;1,300;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: auto;
  padding: auto;
  width: 100vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background: linear-gradient(322deg, rgba(238, 15, 15, 0.99) 0%, rgb(94, 0, 0) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  display: none;
}
#top {
  font-family: 'Merriweather';
  font-style: italic;
  color: white;
  width: 80vw;
  margin: auto;
  text-align: end;
}
.slider {
  margin: 0 auto;
  width: 80vw;
}
.slider a {
  font-size: larger;
}
.slider #aside nav{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.slider #main {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.slides>div> .exp:not(:last-child) {
  margin-bottom: 6vh;
}
.slides>div> .exp ul {
  padding: 0;
}
.slides>div>div> p, ul {
  font-family: 'Be Vietnam Pro';
  text-align: justify;
  font-size: large;
  width: 96%;
  padding-left: 20px;
}
.slides>div> .exp ul li {
  list-style: none;
  padding-left: 20px;
}
#slide-1, #slide-2, #slide-3 {
  padding: 3%;
}